.like-button {
    min-width:48px!important;
    height:50px;
	background: url(/etc/designs/scf/clientlibs/ideation/images/like.png) no-repeat right center!important;
}
.dislike-button {
    min-width:48px!important;
    height:50px;
	background: url(/etc/designs/scf/clientlibs/ideation/images/dislike.jpg) no-repeat right bottom!important;
}
